h1{
    font-family: 'Calibri';
    text-align: center;
    font-size: 60px;
}

h2{
    font-family: 'Calibri';
    text-align: right;
    margin-right: 30px;
}

h3{
    font-family: 'Calibri';
    text-align: right;
    margin-right: 30px;
}

p{
    font-family: 'Calibri';
    text-align: right;
    margin-right: 30px;
}